body {
    margin: 0;
    padding: 0;
    background-image: url("/mike-kenneally-TD4DBagg2wE-unsplash.jpg") ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden;
}
.flexcontainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.custom-card{
    background-color: #700548;
    color: white;
}

img{
    width: 100px;
    height: 100px;
}

/*PRODUCTS*/
#kaffeparty{
    background-color: #8A817C;
}
#kaffemaskiner{
    background-color: #8A817C;
}
