body {
    margin: 0;
    padding: 0;
    background-image: url("/mike-kenneally-TD4DBagg2wE-unsplash.jpg") ;
    background-size: cover;
    background-position: center;
}
.custom-card{
    background-color: #700548;
    color: white;
    margin-top: 2em;
    margin-bottom: 2em;
}
